{% extends "layout.njk" %}

{% block head %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>Student</title>
{% endblock %}

{% block content %}

Essa eh a pagian dos estudantes

{% endblock %}