{% extends "layout.njk" %}

{% block head %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>Blog - Rocketseat</title>
{% endblock %}
<!-- esse bloco vai ser enviado para o layout mas so sera carregado nessa pagina -->

{% block content %}


    <div id="wrapper">
        <h1>Blog</h1>
    </div>

    <section class="cards">

        <div class="card" id="construindo-um-app-com-mapas-usando-react-native-maps-e-mapbox/">
            <div class="card__image-container">
                <img src="https://blog.rocketseat.com.br/content/images/2020/10/teste.jpg" alt="Blog Rocketseat">
            </div>

            <div class="card__content">
                <p>Construindo App com Mapa usando React Native Maps e MapBox</p>
            </div>

            <div class="card__info">
                <p>8 MIN DE LEITURA</p>
                <p>Por Thiago Marinho</p>              
            </div>

            
        </div>

        <div class="card" id="electron-construindo-aplicacoes-desktop-com-javascript/">
            <div class="card__image-container">
                <img src="https://blog.rocketseat.com.br/content/images/2020/08/blog-rocketseat-construindo-apps-desktop-com-electron-1.png" alt="Youtube video rocketseat">
            </div>

            <div class="card__content">
                <p>Electron - construindo aplicações desktop com JavaScript</p>
            </div>

            <div class="card__info">
                <p>10 MIN DE LEITURA</p>
                <p>Por Thiago Marinho</p>        
            </div>

            
        </div>

        <div class="card" id="ideias-e-inspiracoes-para-projetos-design-web-e-mobile/">
            <div class="card__image-container">
                <img src="https://blog.rocketseat.com.br/content/images/2020/07/ideias-inspiracoes-projetos-design-web-mobile.png" alt="Youtube video rocketseat">
            </div>

            <div class="card__content">
                <p>Ideias e Inspirações para Projetos: Design, Web e Mobile</p>
            </div>

            <div class="card__info">
                <p>2 MIN DE LEITURA</p>
                <p>Por Thiago Marinho</p>                 
            </div>
            
        </div>

    </section>

    <div class="modal-overlay">
        <div class="modal">

            <a rel="stylesheet" class="maximize-modal">
                <i class="material-icons">open_in_full</i>
            </a>

            <a rel="stylesheet" class="close-modal">
                <i class="material-icons">close</i>
            </a>

            <a rel="stylesheet" class="minimize-modal">
                <i class="material-icons">close_fullscreen</i>
            </a>

            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>

    <script src="scripts.js"></script>

{% endblock %}